/*
MEnús, Dic 2020, Francisco Javier
*/
*{
 box-sizing: border-box;
 margin: 0px;
}
h1{
    text-align: center;
}
.mflotante{
    width: 80%;
    margin: auto;
}
.mflotante a{
    text-decoration: none;
    color: white;
    background-color: goldenrod;
    float: right;
     width: 25%;
    display: block;
    padding: 0.5em 0px;
    
  }
.flex{
    
}
.flex {
    
}

@media (max-width:600px){
    .mflotante a{
        width: 100%;
        text-align: center;
    } 
}